.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.review {
    display: flex;
    flex-direction: row;
}

.card-control {
    display: flex;
    flex-direction: row;
}
.btn {
    font-size: large;
    margin: 10px;
}
.header {
    font-size: xx-large;
}

.note {
    margin: 10px;
}

.card {
    padding: 30px;
    margin: 30px;
    font-size: xx-large;
    font-weight: 800;
    background-color: darkorange;
}

.meaning {
    padding: 20px;
    color:darkmagenta;
    white-space: pre-line;
}

.review-header {
    font-weight: 700;
    background-color: darkseagreen;
}