.gomoku-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: chartreuse;
}

.turn-shower {
  font-size: x-large;
  margin: 10px;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  margin: 5px;
  font-size: x-large;
}


.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}